@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h1 class="display-3">'Jokes' Application</h1>
    <p>Learn much about <a href="https://github.com/ahmetulucay/JokesWebApp">this application</a>.</p>
</div>
